.panel {
    border: 1px solid #32373e;
    border-radius: 0;
}

.panel-body, .panel-body ul, .panel-body ul li, .panel-body ul li a, .panel-body ul li ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background: #606976;
    color: #fff;
}

.panel-body > ul > li > a {
    padding: 15px 20px;
    border-left: 1px solid #272a30;
    border-right: 1px solid #272a30;
    border-top: 1px solid #272a30;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background: #2ca7e8;
    background: -webkit-linear-gradient(#49505a, #3e434c);
    background: -moz-linear-gradient(#49505a, #3e434c);
    background: -o-linear-gradient(#49505a, #3e434c);
    background: -ms-linear-gradient(#49505a, #3e434c);
    background: linear-gradient(#49505a, #3e434c);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.panel-body > ul > li > ul > li > a {
    padding: 15px 20px;
    border-left: 1px solid #272a30;
    border-right: 1px solid #272a30;
    border-top: 1px solid #272a30;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background: #2ca7e8;
    background: -webkit-linear-gradient(#3e434c, #33373e);
    background: -moz-linear-gradient(#3e434c, #33373e);
    background: -o-linear-gradient(#3e434c, #33373e);
    background: -ms-linear-gradient(#3e434c, #33373e);
    background: linear-gradient(#3e434c, #33373e);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.panel-body ul ul {
    display: none;
    margin: 10px;
}

.panel-body label {
    font-weight: normal !important;
}

.btn-reset > a {
    opacity: 0.9;
    display: inline-block !important;
    background: #d43f3a !important;
    padding: 10px 20px !important;
}

.btn-reset > a:hover {
    opacity: 1;
}

table.palette {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.palette td {
    padding: 15px;
}